<div class="x-wrapper x-login-module">
  <div class="x-logo-box">
    <image class="x-logo"
           :src="logoUrl"></image>
  </div>

  <x-input v-model="username"
           icon-url="http://testwww.51fbpay.com/myProgramImages/login_user_icon.png"
           placeholder="请输入用户名"
  ></x-input>

  <x-input v-model="password"
           icon-url="http://testwww.51fbpay.com/myProgramImages/login_pass_icon.png"
           placeholder="请输入密码"
           margin-top="30px"
  ></x-input>

  <x-button text="登录"
            backrgound-color="#ff0"
  ></x-button>


</div>